<head>

    <link rel="stylesheet" href="css/Contact.css">

</head>
<h1>INDEX</h1>
<h2></h2>
<% for(const usuario of results){ %>
    <li>
        <%= usuario.nombre %>
    </li>
<% } %>
<ul>
    <li>elemento1</li>
    <li>elemento2</li>
    <li>elemento3</li>
    <li>elemento4</li>
    <li>elemento5</li>
    <li>elemento6</li>
</ul>